@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* Outfit font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.header {
    color: rgb(95, 87, 87);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}